#set($fileClass=$outputFile.Class.forName("java.io.File"))
#set($paramList = [$outputFile.ParentFile.AbsolutePath])
#set($paramArray = $paramList.toArray())
#set($ctors = $fileClass.Constructors)

#foreach ($ctor in $ctors)
	#if ($ctor.toString() == "public java.io.File(java.lang.String)")
		#set($topoHomeFile = $ctor.newInstance($paramArray))
	#end
#end

#if($topoHomeFile.Directory)
    #set($fileList = $topoHomeFile.listFiles())
    #foreach($file in $fileList)
        #if($file.Name.contains("mask_S2"))
            #set($targetName=$file.AbsolutePath)
        #end
    #end
	#set($paramList2 = [$targetName])
	#set($paramArray2 = $paramList2.toArray())

	#foreach ($ctor in $ctors)
		#if ($ctor.toString() == "public java.io.File(java.lang.String)")
			#set($targetProductFile = $ctor.newInstance($paramArray2))
		#end
	#end
#end